nav{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    height: 30px;
   background-color: black;
}
h1{
    font-size: large;
}
img{
    text-align: center;
width: 100%;
height: 400px;
}