h1{
    text-align: center;
    color: red;
    background-color: aqua;
    /* border:width style color */
    border: 10px solid blue;
    /* padding: top right bottom left; */
    padding: 10px 10px 10px 10px;  
}
body{
    background-color: green;
    border: 15px solid red;
}
img{
    padding:20px 0px 20px 550px ;
}
p{
    text-align: center;
    background-color: aquamarine;
    border: 10px solid black;
    padding: 20px 20px 20px 20px;
}

