

nav{
    float: right;
    font-style: red;
    font-size: 40px;
    padding-top: 40PX;
    padding-bottom: 90px;
    
}
button{
    padding-bottom: 1px;

}
h1{
    text-align: center;

    
}
