*{
    margin: 0;
    padding: 0;
}
h1{
text-align: center;
background-color: lightblue ;
padding-bottom: 10%;
padding-top: 270px;
color:red;
font-size: 40px;
}
.a{
    padding-left: 50px;
    padding-top: 0px;
    font-size: 30px;
}
  .b{
    float: right;
    display: inline;
    padding-right: 30%;
    padding-top: 0px;
    padding-bottom: 20%;
    font-size: 30px;
} 
.img
{
    float: right;
    padding-right: 100px;
    display: inline;
}