table ,th,td{
    border: 3px solid blue;
    border-collapse: collapse;
    empty-cells: hide;
}
p{
    background-color: aqua;
    width: 60px;
    height:50px;
    border: 2px solid red;
    overflow: scroll;
    overflow-x: hidden;
    color:rgb(0, 250,0);

}